<%= stylesheet_link_tag 'dashboard', media: 'all' %>
  <div class="container-fluid">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1 dash_main">
          <h1 class="page-header"><%=@user.name if @user%>'s Dashboard</h1>

          <div class="row dash_placeholders">
            <div class="col-xs-6 col-sm-4 dash_placeholders">
              <div class="dashboard-info-circle">
                <h1><%= @apis.count.to_i %></h1>
              </div>
              <!-- <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail"> -->
              <h4>Total APIs</h4>
            </div>
            <div class="col-xs-6 col-sm-4 dash_placeholders">
              <div class="dashboard-info-circle text-center dinfo-color-alt">
                <% if @org == nil %>
                <h1>0</h1>
                <% else %>
                <h1><%= @org.count.to_i %></h1>
                <% end %>
              </div>
              <!-- <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail"> -->
              <h4>Organization Members</h4>
            </div>
            <div class="col-xs-6 col-sm-4 dash_placeholders">
              <div class="dashboard-info-circle text-center dinfo-color-alt">
                <h1><%= @apis.sum(:view_count).to_i %></h1>
              </div>
              <!-- <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail"> -->
              <h4>API Views</h4>
            </div>
          </div>

          <h2 class="sub-header">Recent APIs</h2>
          <div class="table-responsive">
            <% if @apis.any? %>
            <table class="table dashboard-table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Created</th>
                  <th>Last Updated</th>
                  <th>View Count</th>
                </tr>
              </thead>
              <tbody>
                <!-- <tr>
                  <td>Doxbox Mobile API</td>
                  <td>Owen</td>
                  <td>3</td>
                  <td>Doxbox</td>
                  <td>01-01-2017</td>
                </tr>
                <tr>
                  <td>Doxbox Mobile API</td>
                  <td>Owen</td>
                  <td>3</td>
                  <td>Doxbox</td>
                  <td>01-01-2017</td>
                </tr>
                <tr>
                  <td>Doxbox Mobile API</td>
                  <td>Owen</td>
                  <td>3</td>
                  <td>Doxbox</td>
                  <td>01-01-2017</td>
                </tr> -->
                <% @apis.order(:aws_last_updated_at).reverse.take(5).each do |api| %>
                  <tr>
                    <td><%= api.name %></td>
                    <td><%= api.created_at %></td>
                    <td><%= api.aws_last_updated_at %></td>
                    <% if api.view_count != nil %>
                    <td><%= api.view_count %></td>
                    <% else %>
                    <td>0</td>
                    <% end %>
                  </tr>
                <% end %>

              </tbody>
            </table>
            <% else %>
              <h2 class="text-center">You don't have any APIs</h2>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
